@*@using  FinanceCore.Globalization;*@
@using FinanceCore.DBModels;
@using Global.Globalization;
@using Global.DBModels;
@using Global.Models;

@using NonFactors.Mvc.Grid;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;



@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Page  ..Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mx-auto">
    Welcome to client's page
</div>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section scripts {
    <script>
    </script>
}