@model Global.Models.ModalHeader

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-d-none="true" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title">@Model.Heading</h5>
</div>